* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: black;
    background: white;
  }
  
  input[type=range] {
    -webkit-appearance: none;
    display: block;
    margin: 0;
    width: 100%;
    background: transparent;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    height: 40px;
    color: transparent;
    background: lightgray;
    border-radius: 999px;
    border: none;
  }
  
  input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    width: 100%;
    height: 40px;
    color: transparent;
    background: lightgray;
    border-radius: 999px;
    border: none;
  }
  
  input[type=range]::-ms-track {
    -webkit-appearance: none;
    width: 100%;
    height: 40px;
    color: transparent;
    background: lightgray;
    border-radius: 999px;
    border: none;
  }
  
  input[type=range]::-ms-fill-lower {
    display: none;
  }
  
  input[type=range]::-ms-fill-upper {
    display: none;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background: black;
    box-shadow: 0px 2px 10px -2px black(1);
  }
  
  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background: black;
    box-shadow: 0px 2px 10px -2px black(1);
  }
  
  input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background: black;
    box-shadow: 0px 2px 10px -2px black(1);
  }
  
  .ticks {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .tick {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1px;
    background: gray;
    height: 12px;
    line-height: 50px;
    margin-bottom: 20px;
  }


  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }